<div class="page-header">
  <h1>Presence Channel</h1>
</div>


<h2>Number of Users</h2>

<div class="member-count"></div>

<h2>Member List</h2>

<ul id="member-list" class="member-list">
</ul>


<%= render 'chats/form' %>