<div id='chat-form'>
<% @chat = Chat.new %>
<%= form_for(@chat, remote: true, url: '/home/presence_chat') do |f| %>
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-lg-3 col-sm-4 pull-right">
              <div class="panel panel-primary">
                  <div class="panel-heading" style='cursor: pointer'>
                      <span class="panel-max-min"><span class="glyphicon glyphicon-comment"></span> Chat Presence [<span class='heading-user'></span>]</span>
                      <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                              <span class="glyphicon glyphicon-chevron-down"></span>
                          </button>
                          <ul class="dropdown-menu slidedown">
                              <% User.all.each do |u| %>
                                <li><a href="#" class='user-select' user='<%= u.id %>'><span class="glyphicon glyphicon-user">
                                </span> <%= u.name %></a></li>
                              <% end%>
                              <li class="divider"></li>
                              <li><a class='panel-max-min'><span class="glyphicon glyphicon-off"></span>
                                  Minimize/Maximize</a></li>
                          </ul>
                      </div>
                      <%= f.hidden_field :user_id %>
                  </div>
                  <div class="panel-body">
                      <div class="chat">
                        <div class="chat-body clearfix" style="height: 300px; overflow: scroll;">
                        </div>
                      </div>
                  </div>
                  <div class="panel-footer">
                      <div class="input-group">

                          <input id="btn-input" type="text" class="form-control input-sm" name="chat[message]" placeholder="Type your message here..." />
                          <span class="input-group-btn">
                              <input value=Send type=submit class="btn btn-warning btn-sm" id="btn-chat">

                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<% end %>
<div>
