<% @chat = Chat.new %>
<%= simple_form_for(@chat, remote: true) do |f| %>
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <span class="glyphicon glyphicon-comment"></span> Chat
                      <div class="pull-right" style='margin-top: -5px'>
                          <%= f.association :user, label: false, input_html: { class: 'form-control input-sm' }, placeholder: 'Select User'  %>
                      </div>
                  </div>
                  <div class="panel-body">
                      <div class="chat">
                        <div class="chat-body clearfix" style="height: 300px; overflow: scroll;">
                        </div>
                      </div>
                  </div>
                  <div class="panel-footer">
                      <div class="input-group">

                          <input id="btn-input" type="text" class="form-control input-sm" name="chat[message]" placeholder="Type your message here..." />
                          <span class="input-group-btn">
                              <input type=submit class="btn btn-warning btn-sm" id="btn-chat">
                                  Send</button>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<% end %>
