<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };
  var pusher = new Pusher('b6bccaecc617484d8548');
  var channel = pusher.subscribe('test_channel');
  channel.bind('my_event', function(data) {
    $('#message-' + data.id).remove()
    $('#btn-input').val('')
    chatBody = $('.chat-body');
    chatBody.append('<div id="message-' + data.id + '" style="color: ' + data.color + '"><div class="header"><strong class="primary-font">' + data.user + '</strong><small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> ' + data.created_at + '</small></div><p>' + data.message + '</p></div>');
    chatBody.scrollTop(chatBody.prop('scrollHeight'));
  });
</script>

<%= render 'form' %>
<br>
