<p id="notice"><%= notice %></p>

<h1>Listing Chats</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= render 'form' %>
<br>

<%= link_to 'New Chat', new_chat_path %>
